body{
    font-family: 'Times New Roman' Times, serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 0;
}

.resume-container{
    background: white;
    width: 700px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0,1);
    border-radius: 5px;
}

.name h1{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: black;
}

.name h2{
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
}

.contact{
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px;

}

.contact h3{
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
}

.contact p {
    margin: 3px 0;
    font-size: 14px;
    color: black;
}

.experience h3, .skills h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 5px;
}

.experience p {
    font-size: 14px;
    line-height: 1.4;
    color: black;
}

.skills ol {
    list-style-type: none;
    padding: 0;
}

.skills li {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    position:relative;
}

@media (max-width: 786px){
    .resume-container {
        width: 90%;
        padding: 20px;
    }
}